body,
html {
  background: #26344A;
}

.main-content {
  margin-top: 1em;
}

.header-holder {}
.header-holder .header-inner-holder {}
.header-holder .header-inner-holder .header {
  text-align: center;
  color: rgba(255,255,255,.9);
}
.header-holder .header-inner-holder .header h1 {
  text-shadow: 0 2px 0 rgba(0,0,0,.7);
}

.logo {
  width:15em;
  height:15em;
}

.content-holder {}
.content-holder .content-inner-holder {
  margin-bottom: 1em;
}
.content-holder .content-inner-holder .content {
  position: relative;
  margin-top: 3em;
}
.content-holder .content-inner-holder .content .event {
  width: 50em;
  padding: .7em 1em 1em;
  margin: 0 auto;
  background: rgba(255,255,255,.8);
  border: 1px solid rgba(255,255,255,.1);
  box-shadow: 0 5px 10px rgba(0,0,0,.3);
  border-radius: 3px;
}
.content-holder .content-inner-holder .content .event h2.title {
  text-align: center;
  color: rgba(0,0,0,.7);
}
.content-holder .content-inner-holder .content .event .event-content {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid rgba(0,0,0,.1);
}
.content-holder .content-inner-holder .content .event .event-content p {
  text-align: center;
  font-size: 1.3em;
  color: rgba(0,0,0,.5);
}
.content-holder .content-inner-holder .content .event .event-footer {
  position: relative;
  display: block;
  min-height: 4em;
}
.content-holder .content-inner-holder .content .event .event-footer ul.access {
  width: 31em;
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 1em;
  display: block;
}

.content-holder .content-inner-holder .content .event .event-footer ul.access li {
  list-style: none;
  font-size: 1.3em;
  float: left;
  margin-right: 1em;
}
.content-holder .content-inner-holder .content .event .event-footer ul.access li a {
  padding: 1em;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 3px;
  color: rgba(0,0,0,.5);
}

.content-holder .content-inner-holder .content .event .event-footer ul.access li a:hover {
  text-decoration: none;
  border-color: rgba(255,255,255,.3);
  color: rgb(28,181,132);
}

.comments-holder {
  width: 700px;
  margin: 0 auto;
}
.comments-holder .comments-inner-holder {
  padding: 3em 0;
}
.comments-holder .comments-inner-holder .comments {}

.centralize {
  width: 240px;
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 1em;
}
