<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <meta name="Description" content="Estamos aqui para aprender e compartilhar">
  <meta name="Keywords" content="programação, aprender, compartilhar">
  <title>Feel The Hacking</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div class="main-content" ng-controller='MainCtrl'>
    <div class="header-holder">
      <div class="header-inner-holder">
        <div class="header">
          <img class='logo align-center' src="img/fth.png">
          <h1>Feel The Hacking</h1>
        </div>
      </div>
    </div>
    <div class="content-holder">
      <div class="content-inner-holder">
        <div class="content">
          <div class="event" ng-repeat="event in events">
            <h2 class="title">{{event.title}}</h2>
            <div class="event-content">
              <p ng-bind-html="event.video">
              </p>
            </div>
            <div class="event-content">
              <p>
                {{event.content}}
              </p>
            </div>
            <div class="event-footer">
              <ul class="access">
                <li ng-repeat="ref in event.references"><a href="{{ref.href}}" target="_blank">{{ref.label}}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a
      href='http://pagcoin.com/Invoice/Botao/520XfQm4Vb3qIhicYRxsL3RPw/?d=cpKlKPMyfF9R9sXuY_wbwLQGczcdUA57gYKxtWKyqxaAeqLpP-UmzmTry3N1ynwvEMOn1GSnjYUonVw3CIfmgFH63xiPPV_Vrjfg1H-eeF8EHgO0CxW9YurlzAqA4IWWlhigVMAOoYffJPU-R5ATkmNsvERvou7LG5iB3Ze14_cnkI04RcnGphtVrz8VnnDip_orra5a9VVwd6STycq-bquhxQ825fkyRQDSV5ymnP_vbaGrgr-ywJfoV2aNT7PlpK_d6QYF3i-9ZP_UhT52LBoJstdidAu4SvrdpsbfUZxw8kpaYxQGGmUohC8zU44r'
      style="display:block;margin:0 auto;width:238px;"
    >
      <img
        ng-src='http://pagcoin.com/Content/img/doe_btc.png'
        alt='Pague com BitCoin'
        title='Pague com BitCoin' />
    </a>
    <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
    <form action="https://pagseguro.uol.com.br/checkout/v2/donation.html" method="post" class="centralize">
    <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
    <input type="hidden" name="currency" value="BRL" />
    <input type="hidden" name="receiverEmail" value="kaique.developer@gmail.com" />
    <input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/doacoes/209x48-doar-assina.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
    </form>
    <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
  </div>
  <div class="comments-holder">
    <div class="comments-inner-holder">
      <div class="comments">
        <div id="disqus_thread"></div>
      </div>
    </div>
  </div>

  <script>
  /**
  * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
  */
  /*
  var disqus_config = function () {
  this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
  */
  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');

  s.src = '//fthship.disqus.com/embed.js';

  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src='js/app.js'></script>
</body>
</html>
